@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
}
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  z-index: 1 !important;
}

/* Markers: Must be higher than the container */
.leaflet-marker-pane {
  z-index: 600 !important;
}

/* Popups: must be higher than markers */
.leaflet-popup-pane {
  z-index: 700 !important;
}

/* Controls (zoom buttons)*/
.leaflet-control-container {
  z-index: 800 !important;
}

/* Sidebar: must be on top of everything */
aside {
  position: relative;
  z-index: 1000 !important;
}